.form-container {
  display: flex;
  justify-content: center;
  margin-top: 12rem;
}

.form-container {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
}

.form-container form {
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container label {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.form-container input {
  font-size: 1.6rem;
  padding: 0.5rem;
  margin-bottom: 2.5rem;
}

.submit {
  width: 10rem;
  margin-top: 1.7rem;
}

.added-paragraph {
  font-size: 1.4rem;
  margin-top: 1.5rem;
}

.link {
  text-decoration: none;
}